<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sport-grounds"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sport Grounds
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <form [formGroup]="SGForm" (ngSubmit)="formSubmitSG()">
      <ion-item>
        <ion-label position="floating">Nombre del Sport Ground</ion-label>
        <ion-input formControlName="name"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripciòn</ion-label>
        <ion-input formControlName="description"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Direcciòn</ion-label>
        <ion-input formControlName="adress"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Latitud</ion-label>
        <ion-input formControlName="latitud"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Longitud</ion-label>
        <ion-input formControlName="longitud" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-input formControlName="status"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <br>
        <ion-button fill="clear" expand="full" (click)="selectImage()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Select Image11111111
        </ion-button>
      </ion-item>

      <ion-item *ngFor="let file of images; let i = index">
        <ion-label *ngIf="images.length === 0"  position="floating">Photo</ion-label>

        <ion-thumbnail slot="start">
          <ion-img [src]="file.data"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap"> {{ file.name }} </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(file)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Sport Ground111111 </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>
