<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" [routerLink]="['/save-sport-grounds/']">
      <ion-button fill="outline">
        Añadir SG
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sport Grounds (Canchas)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let SG of SGData; let i = index">
    <ion-label>
      <h5>
        <ion-icon name="person"></ion-icon> {{SG.name}}, {{SG.description}}
      </h5>
      <p>
        <ion-icon name="call"></ion-icon> {{SG.latitud}}
      </p>
      <p>
        <ion-icon name="star"></ion-icon> {{SG.longitud}}
      </p>
    </ion-label>
    <div class="item-note" item-end>
      <button ion-button clear [routerLink]="['/save-sport-grounds/'+SG.id]">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>
      <button ion-button clear (click)="SGDeleteAction(i, SG.id)">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>
    </div>
  </ion-item>

</ion-content>

