
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
<!--      <ion-button (click)="toggleMenu()">-->
<!--        <ion-icon slot="icon-only" name="menu"></ion-icon>-->
<!--      </ion-button>-->
      <ion-menu-button color="primary" menu="first">

      </ion-menu-button>

    </ion-buttons>

    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2> Welcome to {{ authUser?.name }}</h2>
  </ion-item>
  <app-feed-update [loginUser]="authUser"></app-feed-update>
  <app-feed-card [loginUser]="authUser"></app-feed-card>
</ion-content>
