<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" [routerLink]="['/save-users/']">
      <ion-button fill="outline">
        Añadir Usuario
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngFor="let user of userData; let i = index">
    <ion-label>
      <h5>
        <ion-icon name="person"></ion-icon> {{user.name}}, {{user.lastname}}
      </h5>
      <p>
        <ion-icon name="call"></ion-icon> {{user.phone}}
      </p>
      <p>
        <ion-icon name="star"></ion-icon> {{user.score}}
      </p>
    </ion-label>
    <div class="item-note" item-end>
      <button ion-button clear [routerLink]="['/save-users/'+user.id]">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>
      <button ion-button clear (click)="userDeleteAction(i, user.id)">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>
    </div>
  </ion-item>

</ion-content>

