<ion-item>
  <ion-textarea placeholder="Ingresa tus actualizaciones" [(ngModel)]="postData.feed"></ion-textarea>
</ion-item>
<ion-item>
  <ion-button  color="primary" shape="full"  (click)="feedUpdateAction()">Agregar</ion-button>

</ion-item>
