<div>
  <div>
    <ion-card-header >
      Ùltimas Actualizaciones
    </ion-card-header>
  </div>
  <div>
    <ion-card *ngFor="let feed of feedData; let i = index">
      <ion-card-content>
        <p [innerHTML]="feed.feed"></p>
        <button (click)="feedDeleteAction(i, feed.id)" class="right">
          <ion-icon name="trash"></ion-icon>
        </button>
        <app-timeago [created]="feed.created"></app-timeago>
      </ion-card-content>
    </ion-card>
  </div>
</div>

