<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input autocomplete="off" [(ngModel)]="postData.name"  name="name" type="text" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input autocomplete="off" [(ngModel)]="postData.lastname"  name="lastname" type="text" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input autocomplete="off" [(ngModel)]="postData.email" name="email" type="email" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password" ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" fill="solid" (click)="signupAction()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
