<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Appointment
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">LastName</ion-label>
        <ion-input formControlName="lastname"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username"  type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input formControlName="phone" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Document Number</ion-label>
        <ion-input formControlName="document_number"  type="text" ></ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Appointment</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
