<ion-menu side="start" menuId="first" contentId="main">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes ">
        <ion-item
          [href]="c.redirectTo">
          <ion-icon [name]="c.icon"></ion-icon>
          <ion-label>{{c.name}}</ion-label>
        </ion-item>

      </ion-menu-toggle>
      <ion-item (click)="logoutClicked()" >
        <ion-icon name="skull-outline" ></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>












